################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/MTR/main
/MTR/.vs/VSWorkspaceState.json
/MTR/.vs/slnx.sqlite
/MTR/.vs/ProjectSettings.json
/MTR/.vs/MTR/v17/Browse.VC.db
/MTR/.vs/MTR/v17/.suo
/MTR/.vs/MTR/FileContentIndex/read.lock
/MTR/.vs/MTR/FileContentIndex/d4f30414-3153-496b-b51d-4d45fd96e3ef.vsidx
/MTR/.vs/MTR/FileContentIndex/b1ab4b31-a900-4bc3-9a68-fe1357dee07b.vsidx
/MTR/.vs/CMakeWorkspaceSettings.json
/CppProperties.json
/MTR/TP3/srvweb

CPP/test1
CPP/test2
CPP/test3